body{background-color: rgb(235, 167, 128, 0.747);}
p{text-align: center;}
h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
b{background-color: rgb(228, 162, 121);}


body{
}

header{
     background-color: rgba(211, 178, 132);

}
main{
     background-color: rgba(219, 156, 116, 0.726);

}
footer{
     background-color: rgb(211, 178, 132);

}
#banner {
    width: 70%
}

.container {
    text-align: center;

}

.principal {
    background-color: rgb(228, 162, 121);
}